body {
    background: rgb(255, 247, 247);
    font-family: 'Source Sans Pro',sans-serif;
    margin: 0px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    line-height: 50px;
    font-size: 40px;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;
}

.proyect {
    border-color:#000000 ;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    
}
.proyec-details {
    width: 500px;
}
.proyect-imageconteiner{
    width: 500px;
    
}
.hero {
    height: 500px;
    background-image: url('../imagenes/hero.png') ;
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color:#1b2127 ;
}
.header {
    background-color: black;
    color: white;
    height: 170px;
    margin: 0px auto;
    margin-top: 0px;
}
.header a {
    color:white;
    text-decoration: none;

}
h1 strong {
    color: #026fff;
}
.experiencia {
    border-color:#000000 ;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 10px;
}

.escritorio {
    border-color:#000000 ;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 10px;
}