body {
    background: rgb(255, 247, 247);
    font-family: 'Source Sans Pro',sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    line-height: 50px;
    font-size: 40px;
    letter-spacing: -.2px;
}

.proyec-details {
    width: 500px;
}
.proyect-imageconteiner{
    width: 500px;
}
.hero {
    width: 400px;
}

