body {
    background: rgb(255, 247, 247);
    font-family: 'Source Sans Pro',sans-serif;
    margin: 0px ;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    line-height: 50px;
    font-size: 40px;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: bold;
    font-size: 24 px;
    margin-bottom: 40 px;
}

.portfolio {
    background:#fafafa;
    padding: 20px;

}

.proyect {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 10px 10px;
    background: white;
    display: flex;
    justify-content: space-between;
}

.proyect-title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.proyect-description {
    font-size: 17x;
}

.hero {
    height: 400px;
    background-image: url('../imagenes/hero.png') ;
    background-size: 600px 500px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color:#1b2127 ;
    display: flex;
    align-content: center;
}
.header {
    background: black;
    color: white;
    height: 100px;
    margin: 0px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
  
}

.header a {
    color:white;
    text-decoration: none;
    display: flex;
    padding: 0px 10px;
}

ol,
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: right;
    height: inherit;
    text-align: right;
}
.header ol{
    display: flex;
    align-items: center;
    
}
.header ol li {
    justify-content: space-between;
   
}

.menu {
    height: inherit;
}




h1 strong {
    color: #026fff;
}
.experienciat {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 10px 10px;

}

.escritorio {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.footer {
    background: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.footer a {
    text-decoration: none;
    color:#B2FFFF;
}

.footer img {
    vertical-align: middle;
}